In [8]:
from elasticsearch import Elasticsearch, helpers
import pandas as pd
import json
import fiona
import geopandas as gp
import jsonlines
es = Elasticsearch(['https://3d6a9dd50c7c49c9ab5d23b6891bc03e.us-central1.gcp.cloud.es.io:9243'], 
                    http_auth=('elastic', 'WMzYk5RXyzE7MRShwPVwHzPX'), timeout=30)
%load_ext autotime

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 13.3 ms (started: 2022-01-11 09:24:55 -05:00)

In [2]:
STATE_FIPS_DICT_52 = { '01': 'AL', '02': 'AK', '04': 'AZ', '05': 'AR', 
                      '06': 'CA', '08': 'CO', '09': 'CT', '10': 'DE', 
                      '11': 'DC', '12': 'FL', '13': 'GA', '15': 'HI', 
                      '16': 'ID', '17': 'IL', '18': 'IN', '19': 'IA', 
                      '20': 'KS', '21': 'KY', '22': 'LA', '23': 'ME', 
                      '24': 'MD', '25': 'MA', '26': 'MI', '27': 'MN', 
                      '28': 'MS', '29': 'MO', '30': 'MT', '31': 'NE', 
                      '32': 'NV', '33': 'NH', '34': 'NJ', '35': 'NM', 
                      '36': 'NY', '37': 'NC', '38': 'ND', '39': 'OH', 
                      '40': 'OK', '41': 'OR', '42': 'PA', '44': 'RI', 
                      '45': 'SC', '46': 'SD', '47': 'TN', '48': 'TX', 
                      '49': 'UT', '50': 'VT', '51': 'VA', '53': 'WA', 
                      '54': 'WV', '55': 'WI', '56': 'WY', '72': 'PR'}
SF52 = {v:k for k,v in STATE_FIPS_DICT_52.items()}

time: 857 Âµs (started: 2022-01-11 08:48:46 -05:00)

In [ ]:
# WORKAROUND FOR NOW: skip field nointernetper for OKLAHOMA

In [64]:
data = []
for sf, abbrv in STATE_FIPS_DICT_52.items():
    df = pd.read_csv(f'es2020/es_{abbrv}.csv')
    
    hh = int(df.num_household.sum())
    hh2020 = int(df.hh2020.sum())
    hu = int(df.num_housingunit.sum())
    hu2020 = int(df.hu2020.sum())
    
    parcel = df.parcelNumAddr.sum()
    resi = df.parcelNumResi.sum()
    agri = df.parcelNumAgri.sum()
    commer = df.parcelNumCommer.sum()
    
    
    infra = df.parcelNumInfra.sum()
    es_infra = df.Health.sum() + df["Public Admin"].sum() + df.Education.sum()
    
    data.append([sf, abbrv, hh, hh2020, hu, hu2020,
                 parcel, resi, agri, commer, infra, es_infra
                ])

/home/nhat/anaconda3/envs/py39/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

time: 2min 7s (started: 2022-01-06 21:39:19 -05:00)

In [74]:
df[['abbrv',
    'parcel','resi', 'agri', 'commer', 'infra']]

   abbrv    parcel     resi    agri  commer   infra
0     AL   2498114   959765   61235   95057    5856
1     AK    268208   125851    2650    6111     698
2     AZ   2830142  2062706    7692   58445   14605
3     AR   1603892   925333  155837   73009     103
4     CA  11056123  7346249  194589  307938   61160
5     CO   2250572  1481746   44243   58907    9794
6     CT   1162425   642443    1594   14327     616
7     DE    402527   347907    4842   14840    1888
8     DC    131793   111610       0    6161    1673
9     FL   9705762  6763035  190949  209264  124505
10    GA   4313622  2346950  117455  126476   10554
11    HI    326128   241106   44433   10970     208
12    ID    639021   285653   41823   21135    2989
13    IL   4477437  3084951  126903  227771    4838
14    IN   3422301  2062591  343255   92367   26716
15    IA   1114840   784781  108167   63285    2114
16    KS   1364603   553718  189426   28690    2735
17    KY    900138   516655   19119   25665    4316
18    LA   1864895   506977   12643   23289     566
19    ME    512306    65163    1690   10013    3655
20    MD   2077776  1817809   39812   97216       0
21    MA   2527307  2021853   10527   61417   26699
22    MI   4133566  2673952  125440  160828   36977
23    MN   2217708  1263753   87903   69476    8967
24    MS   1269532    64822    5886    1404     245
25    MO   2601020  1300367   86363   57368    8830
26    MT    544193    59112   20179    1175       0
27    NE    788848   599838   97680   51457    1797
28    NV   1181983   828710   18874   31819    2399
29    NH    753497   333159     714   34250      14
30    NJ   3127598  2529192   32314  135251   28741
31    NM    831776   593061    4372    3515       0
32    NY   5260381  4124477   86299  193625   93210
33    NC   5119887  1512450   74836   77356   21867
34    ND    258291   125453   36724   31557       0
35    OH   5967038  3226975  144570  191311   68030
36    OK   1559665  1104093  101286   84962    3418
37    OR   1507297   770443   80283   55030     509
38    PA   5323061  3582589  317152  204339   56520
39    RI    342151   164231    2405   10651    4832
40    SC   2044768   956352   55161   36731    6258
41    SD    437330    50752  115653    2406     128
42    TN   3282289  1198028   96426   53774   13829
43    TX  11616699  6338655  605683  490969   61510
44    UT   1134092   621548    4431   26657    2801
45    VT    319821   221762    4158   16654     393
46    VA   3386753  1747868   75660   83568   12486
47    WA   2699585  2202697   71061   88476   29021
48    WV    803317   620611   43292   21884   12250
49    WI   2608242  2077353  120378  242967       0
50    WY    292389        0   18473       0       0
51    PR   1382521        0       0       0       0

time: 7.65 ms (started: 2022-01-07 14:54:49 -05:00)

In [65]:
df = pd.DataFrame(data, columns=['sf','abbrv','hh','hh2020', 'hu', 'hu2020', 
                                 'parcel','resi', 'agri', 'commer', 'infra', 'es_infra'])
df['diff%-hh-hu'] = round(abs(df.hu - df.hh) / (df.hu + df.hh) * 200)
df['diff%-hu-parcel'] = round(abs(df.hu - df.parcel) / (df.hu + df.parcel) * 200)
df['diff%-hh-parcel'] = round(abs(df.hh - df.parcel) / (df.hh + df.parcel) * 200)
# df['diff%-hh-resi'] = round(abs(df.hh - df.resi) / (df.hh + df.resi) * 200)
# df['diff%-resi-parcel'] = round(abs(df.resi - df.parcel) / (df.resi + df.parcel) * 200)
df

,sf,abbrv,hh,hh2020,hu,hu2020,parcel,resi,agri,commer,infra,es_infra,diff%-hh-hu,diff%-hu-parcel,diff%-hh-parcel
0,01,AL,1910949,2002629,2346929,2302611,2498114,959765,61235,95057,5856,"3,083.00",20.00,6.00,27.00
1,02,AK,255192,271166,334465,321356,268208,125851,2650,6111,698,750.00,27.00,22.00,5.00
2,04,AZ,2695088,2614924,3186149,3120291,2830142,2062706,7692,58445,14605,"4,683.00",17.00,12.00,5.00
3,05,AR,1185043,1224230,1419687,1401037,1603892,925333,155837,73009,103,"2,105.00",18.00,12.00,30.00
4,06,CA,13298823,13230527,14655385,14383328,11056123,7346249,194589,307938,61160,"28,441.00",10.00,28.00,18.00
5,08,CO,2227739,2174955,2498728,2432800,2250572,1481746,44243,58907,9794,"4,099.00",11.00,10.00,1.00
6,09,CT,1383420,1410239,1538094,1530092,1162425,642443,1594,14327,616,"2,765.00",11.00,28.00,17.00
7,10,DE,373491,378328,468622,449515,402527,347907,4842,14840,1888,635.00,23.00,15.00,7.00
8,11,DC,291789,295987,325112,327459,131793,111610,0,6161,1673,810.00,11.00,85.00,76.00
9,12,FL,8078585,8101436,10028389,9814149,9705762,6763035,190949,209264,124505,"12,582.00",22.00,3.00,18.00
10,13,GA,3888067,3882233,4468635,4426745,4313622,2346950,117455,126476,10554,"5,692.00",14.00,4.00,10.00
11,15,HI,467299,485319,568303,554088,326128,241106,44433,10970,208,963.00,20.00,54.00,36.00
12,16,ID,662559,668670,774554,768739,639021,285653,41823,21135,2989,"1,274.00",16.00,19.00,4.00
13,17,IL,4851497,4937823,5398987,5400099,4477437,3084951,126903,227771,4838,"8,828.00",11.00,19.00,8.00
14,18,IN,2627287,2635978,2971087,2940283,3422301,2062591,343255,92367,26716,"3,992.00",12.00,14.00,26.00
15,19,IA,1283445,1309982,1422808,1428922,1114840,784781,108167,63285,2114,"2,373.00",10.00,24.00,14.00
16,20,KS,1146626,1168876,1301737,1294831,1364603,553718,189426,28690,2735,"2,358.00",13.00,5.00,17.00
17,21,KY,1764257,1801307,2030855,2016953,900138,516655,19119,25665,4316,"2,852.00",14.00,77.00,65.00
18,22,LA,1769613,1854648,2126389,2103970,1864895,506977,12643,23289,566,"2,948.00",18.00,13.00,5.00
19,23,ME,568916,585321,779372,755445,512306,65163,1690,10013,3655,"1,053.00",31.00,41.00,10.00
20,24,MD,2238104,2252407,2502078,2482068,2077776,1817809,39812,97216,0,"3,896.00",11.00,19.00,7.00
21,25,MA,2664189,2678162,2965632,2944551,2527307,2021853,10527,61417,26699,"4,345.00",11.00,16.00,5.00
22,26,MI,3985063,3979287,4713091,4644893,4133566,2673952,125440,160828,36977,"6,655.00",17.00,13.00,4.00
23,27,MN,2231068,2227252,2496970,2502998,2217708,1263753,87903,69476,8967,"4,364.00",11.00,12.00,1.00
24,28,MS,1124705,1181648,1362071,1347056,1269532,64822,5886,1404,245,"1,817.00",19.00,7.00,12.00
25,29,MO,2453827,2488521,2867193,2833648,2601020,1300367,86363,57368,8830,"4,798.00",16.00,10.00,6.00
26,30,MT,441599,446697,535402,524629,544193,59112,20179,1175,0,"1,223.00",19.00,2.00,21.00
27,31,NE,776143,781982,860164,857904,788848,599838,97680,51457,1797,"1,314.00",10.00,9.00,2.00
28,32,NV,1159090,1124585,1353703,1306272,1181983,828710,18874,31819,2399,"1,695.00",15.00,14.00,2.00
29,33,NH,542166,545922,652525,646860,753497,333159,714,34250,14,"1,080.00",18.00,14.00,33.00
30,34,NJ,3270443,3307899,3692557,3654978,3127598,2529192,32314,135251,28741,"6,147.00",12.00,17.00,4.00
31,35,NM,795703,841025,972255,955963,831776,593061,4372,3515,0,"1,573.00",20.00,16.00,4.00
32,36,NY,7385115,7618873,8449686,8444098,5260381,4124477,86299,193625,93210,"11,539.00",13.00,47.00,34.00
33,37,NC,4100687,4174391,4834241,4813495,5119887,1512450,74836,77356,21867,"5,357.00",16.00,6.00,22.00
34,38,ND,322268,344645,380463,382335,258291,125453,36724,31557,0,763.00,17.00,38.00,22.00
35,39,OH,4744873,4714916,5318802,5247932,5967038,3226975,144570,191311,68030,"7,678.00",11.00,11.00,23.00
36,40,OK,986422,1551845,1166923,1763118,1559665,1104093,101286,84962,3418,"2,886.00",17.00,29.00,45.00
37,41,OR,1659974,1662037,1838548,1830852,1507297,770443,80283,55030,509,"2,812.00",10.00,20.00,10.00
38,42,PA,5123737,5189700,5815014,5753278,5323061,3582589,317152,204339,56520,"8,640.00",13.00,9.00,4.00
39,44,RI,417353,420327,484332,471323,342151,164231,2405,10651,4832,685.00,15.00,34.00,20.00
40,45,SC,2002015,2014957,2443851,2386299,2044768,956352,55161,36731,6258,"2,625.00",20.00,18.00,2.00
41,46,SD,350922,362150,402489,405741,437330,50752,115653,2406,128,"1,005.00",14.00,8.00,22.00
42,47,TN,2669562,2721841,3082528,3065639,3282289,1198028,96426,53774,13829,"3,804.00",14.00,6.00,21.00
43,48,TX,10085418,10304241,11498790,11487572,11616699,6338655,605683,490969,61510,"17,895.00",13.00,1.00,14.00
44,49,UT,1020032,1043158,1184419,1161901,1134092,621548,4431,26657,2801,"1,979.00",15.00,4.00,11.00
45,50,VT,261778,271519,344221,341366,319821,221762,4158,16654,393,599.00,27.00,7.00,20.00
46,51,VA,3226305,3267585,3615438,3589778,3386753,1747868,75660,83568,12486,"5,180.00",11.00,7.00,5.00
47,53,WA,2945471,2948713,3239346,3242737,2699585,2202697,71061,88476,29021,"5,044.00",10.00,18.00,9.00
48,54,WV,732815,776642,904586,896585,803317,620611,43292,21884,12250,"1,258.00",21.00,12.00,9.00
49,55,WI,2389509,2383033,2740800,2738626,2608242,2077353,120378,242967,0,"4,666.00",14.00,5.00,9.00
50,56,WY,233518,244787,287853,281935,292389,0,18473,0,0,606.00,21.00,2.00,22.00
51,72,PR,1169169,1167622,1571862,1385599,1382521,0,0,0,0,"1,511.00",29.00,13.00,17.00

time: 25.4 ms (started: 2022-01-06 21:41:27 -05:00)

In [66]:
df.describe().loc[['mean', '50%','std', 'min', 'max']].astype(int).style.format('{:,}')

time: 24.9 ms (started: 2022-01-06 21:41:27 -05:00)

In [ ]:
Within each census block, hh&parcel are most similar (smallest diff%)
=> # passing = average of hh and parcel?

#### Residential passings = housing units (> households)
#### Agri passings = parcelNumAgri
#### Commer passings = parcelNumCommer
#### Infra passings = parcelNumInfra

# Calculate # passings

In [185]:
resi = ['Residential']
commer = ['Commercial', 'Multi']
infra = ['Government' ,'Educational' ,'Religious' ,'Institutional']
valid_passing_cols = resi + commer + infra
es_cols = ['numPassingTotalNAD', 'numPassingValidNAD', 'numPassingResiNAD', 'numPassingCommerNAD', 
            'numPassingInfraNAD', 'numPassingRemNAD', 'addressesNAD']

def addressing_cb(r):
    d = {}
    d['numPassingResiNAD'] = r['Addr_Type'].isin(resi).sum()
    d['numPassingCommerNAD'] = r['Addr_Type'].isin(commer).sum()
    d['numPassingInfraNAD'] = r['Addr_Type'].isin(infra).sum()
    d['numPassingRemNAD'] = (~r['Addr_Type'].isin(valid_passing_cols)).sum()
    
    d['numPassingValidNAD'] = (d['numPassingResiNAD'] 
                               + d['numPassingCommerNAD'] 
                               + d['numPassingInfraNAD'])
    d['numPassingTotalNAD'] =  d['numPassingValidNAD'] + d['numPassingRemNAD']
    
    # numPassingTotalNAD = sum of all (numPassingResiNAD, numPassingCommerNAD, numPassingInfraNAD, numPassingRemNAD)
    # numPassingInfraNAD (better term: community anchor institution)
    
    # combine addresses that belong to same census block
    d['addressesNAD'] = '^&'.join(r['address'])
    
    return pd.Series(d, index = es_cols)

time: 1.03 ms (started: 2022-01-14 11:31:40 -05:00)

In [186]:
state_abbrv = 'dc'
STATE_ABBRV = state_abbrv.upper()
statefips = SF52[STATE_ABBRV]

nad_layer_crs = 'epsg:3857'

with jsonlines.open(f'nad6/nad_{STATE_ABBRV}.jsonl') as reader: 
    state_df = gp.GeoDataFrame.from_features(reader, crs= nad_layer_crs)
    
    # READING TIGER SHP
    tiger_url = "https://www2.census.gov/geo/tiger/TIGER2019/TABBLOCK/tl_2019_{}_tabblock10.zip".format(statefips) 
    print(f'Reading Tiger shp {statefips=} {STATE_FIPS_DICT_52[statefips]=}')
    state_cb = gp.read_file(tiger_url)
    state_cb = state_cb[['GEOID10', 'geometry']]
    state_cb = state_cb.rename({"GEOID10": "GEOID"}, axis = 1)
    print(f"{state_cb.shape=}")
    
    # CONVERT crs: take a bit of time
    state_df = state_df.to_crs(state_cb.crs)
    
    # Point-in-polygon (PIP) spatial join: long time
    state_df = gp.sjoin(state_df, state_cb, how='left', predicate='within')
    # DISOWNED PARCELS: parcels with (lat, lon) not found within state boundaries i.e. parcels w/o GEOID!
    disowned_parcels = state_df['GEOID'].isnull().sum()
    print(f"Number of disowned parcels: {disowned_parcels=}, {(disowned_parcels/state_df.shape[0] * 100) :.5f}%")
    
    # AGGR addressesNAD fields
    state_df['coords'] = 'lon=' + state_df.geometry.x.astype(str) + ';lat=' + state_df.geometry.y.astype(str)
    # concat address fields
    state_df['address'] = state_df[['NatGrid_Coord', 'addr', 'Addr_Type', 'coords']].agg('$%'.join, axis=1)
    # Census block grouping and agg
    state_df = state_df.groupby('GEOID').apply(addressing_cb).reset_index()

Reading Tiger shp statefips='11' STATE_FIPS_DICT_52[statefips]='DC'
state_cb.shape=(6507, 2)
Number of disowned parcels: disowned_parcels=7, 0.00169%
time: 1min (started: 2022-01-14 11:31:41 -05:00)

In [188]:
# PROCESS the df to UPLOAD TO ES!
es_df = state_cb.merge(state_df, how='left', on="GEOID")
es_df = pd.DataFrame(es_df.drop(columns='geometry'))
# del state_cb
# del state_df
for col in es_cols:
    if col == 'addressesNAD':
        es_df[col] = es_df[col].fillna("").astype(str)
    else:
        es_df[col] = es_df[col].fillna(0).astype(int)

time: 15.3 ms (started: 2022-01-14 11:38:11 -05:00)

In [190]:
# save to file
es_df.to_json(f'processed/nad_{STATE_ABBRV}.json', orient='records')

time: 187 ms (started: 2022-01-14 11:38:20 -05:00)

## ES update and upload

In [ ]:
def update_es_mapping(es, index_name):
    # UPDATE ES maaping: add new field
    # null_value i.e. set 0 as default value for the field -> allow indexing and searching https://www.elastic.co/guide/en/elasticsearch/reference/current/null-value.html
    update_request_body = {
        "properties":{
                "numPassingTotalNAD" :       {  "type": "integer",  "null_value": 0 },
                "numPassingValidNAD" :       {  "type": "integer",  "null_value": 0 },
                "numPassingResiNAD" :        {  "type": "integer",  "null_value": 0 },
                "numPassingCommerNAD" :      {  "type": "integer",  "null_value": 0 },
                "numPassingInfraNAD" :       {  "type": "integer",  "null_value": 0 },
                "numPassingRemNAD" :         {  "type": "integer",  "null_value": 0 },
            # https://stackoverflow.com/questions/41862255/null-value-not-permitted-for-text-field
                "addressesNAD" :             {  "type": "text"},
        }
    }
    es.indices.put_mapping(index = index_name, body = update_request_body)
    print('updated index ', index_name)

def upload_es_df(df, index_name):
    idCol = 'GEOID'
    # updating_dict: a dict of all the data to be updated
    updating_dict = df.to_json(orient = "records")
    updating_dict = json.loads(updating_dict)

    # create an actiondf for all actions
    actiondf = df[[idCol]].copy()
    actiondf['_op_type'] = 'update'
    actiondf['_index'] = index_name
    actiondf['_id'] = actiondf[idCol]
    actiondf['doc_as_upsert'] = True
    actiondf['doc'] = updating_dict 
    actiondf.drop(idCol, axis = 1, inplace = True)

    udf = actiondf.to_json(orient = 'records')
    # all actions
    action_list = json.loads(udf) 
    print(f"Start uploading {len(df)} records to {index_name}")
    helpers.bulk(es, action_list)
    print(f"Completed uploading {len(df)} records to {index_name}")

In [ ]:
index_name = f'bossdata{statefips}'
## RUN ONCE
# update_es_mapping(es, index_name)
# upload_es_df(es_df, index_name)

## Compare NAD w/ Regrid buildings

In [200]:
# 
state_abbrv = 'dc'
STATE_ABBRV = state_abbrv.upper()
statefips = SF52[STATE_ABBRV]

nad_layer_crs = 'epsg:3857'

with jsonlines.open(f'nad6/nad_{STATE_ABBRV}.jsonl') as reader: 
    df = gp.GeoDataFrame.from_features(reader, crs= nad_layer_crs)

time: 13.6 s (started: 2022-01-14 17:14:35 -05:00)

In [201]:
df.head()

,geometry,addr,GUID,NatGrid_Coord,Addr_Type
0,POINT (-8566459.103 4702142.557),37TH Street Southeast 2017 ADDRESS 102 5671 ...,{69CDAFF3-93C1-4529-BA3F-31A6B7B19D4F},18S UJ 30485 03446,Residential
1,POINT (-8566459.103 4702142.557),37TH Street Southeast 2017 ADDRESS 201 5671 ...,{8E4BB74B-58D2-438E-AECC-2F2AD70C2D32},18S UJ 30485 03446,Residential
2,POINT (-8566459.103 4702142.557),37TH Street Southeast 2017 ADDRESS 202 5671 ...,{A36B163B-575F-4B4F-B29A-C14E5720094C},18S UJ 30485 03446,Residential
3,POINT (-8566459.103 4702142.557),37TH Street Southeast 2017 ADDRESS 301 5671 ...,{46C23554-DA95-4E11-8402-C61A6467A915},18S UJ 30485 03446,Residential
4,POINT (-8566459.103 4702142.557),37TH Street Southeast 2017 ADDRESS 302 5671 ...,{BB7D5848-F525-4B0C-A383-8C2754E82E5C},18S UJ 30485 03446,Residential

time: 7.45 ms (started: 2022-01-14 17:14:51 -05:00)

In [ ]:
# HERE NOW: confirm len of addr unique
# NatGrid_Coord ~ 3-to-1 mapping to NAD record

In [202]:
df.shape[0], len(df.addr.unique()), len(df.GUID.unique()), len(df.NatGrid_Coord.unique()),

(413098, 410411, 413098, 147859)

time: 217 ms (started: 2022-01-14 17:14:54 -05:00)

In [198]:
df.Addr_Type.unique()

array(['Residential', 'Multi', 'Unknown'], dtype=object)

time: 81.2 ms (started: 2022-01-14 11:42:01 -05:00)

### Regrid building